html(lang="en", ng-app="App")
head
	meta(http-equiv="x-ua-compatible", content="IE=edge")
	meta(HTTP-EQUIV="Pragma", CONTENT="no-cache")
	meta(charset="utf-8")
	title Hex Demo App
body
	div(style="color:red;") Hello from main.jade
